
<!-- your-component.component.html -->



<div>
  
  <ngb-timepicker [(ngModel)]="time" [seconds]="seconds"></ngb-timepicker>
</div>


<!-- <button class="btn btn-sm btn-outline-{{ seconds ? 'success' : 'danger' }}" (click)="seconds = !seconds">
	Seconds - {{ seconds ? 'ON' : 'OFF' }}
</button> -->

<hr />
<pre>Selected time: {{ time | json }}</pre>



<hr>
<table border="">
 
    <tr>
      <th colspan="3">
        T Day
      </th>
      <th colspan="3">T+1 days</th>
      <th colspan="3">T+14 days</th>

    </tr>
  
  <tr>
    <th>Expected date</th>
    <th>Submission date</th>
    <th>Exchange Remarks</th>
    <th>Expected date</th>
    <th>Submission date</th>
    <th>Exchange Remarks</th>
    <th>Expected date</th>
    <th>Submission date</th>
    <th>Exchange Remarks</th>
  </tr>

  
  
  
 <tr>
  <td>12-11-23</td>
  <td>15-11-23</td>
  <td>20-11-23</td>
  <td>12-11-23</td>
  <td>15-11-23</td>
  <td>20-11-23</td>
  <td>12-11-23</td>
  <td>15-11-23</td>
  <td>20-11-23</td>
 </tr>

 
 



</table>

<hr>
<div>
 
<textarea name="" id="" cols="30" rows="10" appWords500></textarea>
</div>

<hr>
<h2>github</h2>

