
<!-- your-component.component.html -->



<div>
  <ngb-timepicker [(ngModel)]="time" [seconds]="seconds" (ngModelChange)="formatTime()"></ngb-timepicker>
</div>


<!-- <button class="btn btn-sm btn-outline-{{ seconds ? 'success' : 'danger' }}" (click)="seconds = !seconds">
	Seconds - {{ seconds ? 'ON' : 'OFF' }}
</button> -->

<hr />
<pre>Selected time: {{ formattedTime | json}}</pre>



<hr>
<table border="">     
    <tr>
      <th colspan="3">
        T Day
      </th>
      <th colspan="3">T+1 days</th>
      <th colspan="3">T+14 days</th>
    </tr>
  <tr>
    
    <th>Expected date</th>
    <th>Submission date</th>
    <th>Exchange Remarks</th>
    <th>Expected date</th>
    <th>Submission date</th>
    <th>Exchange Remarks</th>
    <th>Expected date</th>
    <th>Submission date</th>
    <th>Exchange Remarks</th>
  </tr> 
 <tr>
  <td>12-11-23</td>
  <td>15-11-23</td>
  <td>20-11-23</td>
  <td>12-11-23</td>
  <td>15-11-23</td>
  <td>20-11-23</td>
  <td>12-11-23</td>
  <td>15-11-23</td>
  <td>20-11-23</td>
 </tr>
</table>

<hr>


<textarea [(ngModel)]="textInput" (input)="onInputChange($event)" class="w-50"></textarea>
<p>Word Count: {{ wordCount }}/500</p>

<hr>

<form [formGroup]="myForm">
  <label for="myInput">Input:</label>
  <textarea id="myInput" formControlName="myInput" class="w-50"></textarea>
  <div *ngIf="myForm.get('myInput')?.hasError('maxWordsExceeded')">
    Maximum 500 words allowed.
  </div>
</form>

<form [formGroup]="yourForm">
  <textarea formControlName="yourTextarea"></textarea>
  
  <!-- Display an error message if max word count is exceeded -->
  <div *ngIf="yourForm.get('yourTextarea')?.hasError('maxWordsExceeded')">
    Maximum word count exceeded (max 100 words).
  </div>
</form>

